In [1]:
import magellan as mg

DEBUG:Cloud:Log file (/Users/Praneeth/.picloud/cloud.log) opened

In [3]:
mg.init_jvm('/Library/Java/JavaVirtualMachines/jdk1.7.0_79.jdk/Contents/Home/jre/lib/server/libjvm.dylib')

True

In [4]:
# read tables
A = mg.read_csv('DBLP.csv', key='id')
B = mg.read_csv('ACM.csv', key='id')

In [5]:
A.head(2)

,id,title,authors,venue,year
0,journals/sigmod/Mackay99,Semantic Integration of Environmental Models f...,D. Scott Mackay,SIGMOD Record,1999
1,conf/vldb/PoosalaI96,Estimation of Query-Result Distribution and it...,"Viswanath Poosala, Yannis E. Ioannidis",VLDB,1996

In [6]:
B.head(2)

,id,title,authors,venue,year
0,304586,The WASA2 object-oriented workflow management ...,"Gottfried Vossen, Mathias Weske",International Conference on Management of Data,1999
1,304587,A user-centered interface for querying distrib...,"Isabel F. Cruz, Kimberly M. James",International Conference on Management of Data,1999

In [7]:
# Blocking - already done and stored in tableC.csv
C = mg.read_csv('tableC.csv', ltable=A, rtable=B)
len(C)

62392

In [8]:
# Plan

# 1. Sample candidate set --> S
# 2. Label S --> G
# 3. Split G into development set I, and evaluation set J
# 4. Select best learning-based matcher Y, using I 
# 5. Add triggers to Y ---> Z
# 6. Evaluate Z using J

In [9]:
# Sample the candidate set
S = mg.sample_table(C, 450)

In [10]:
help(mg.sample_table)

Help on function sample_table in module magellan.sampler.sampler:

sample_table(table, size, replace=False)
    Sample MTable

    Parameters
    ----------
    table : MTable, input table to be sampled
    size : int, number of samples
    replace : boolean, whether sampling should be done with replacement.
            By default, it is set to False.

    Returns
    -------
    sampled_table: MTable, sampled table

In [11]:
# Label S
G = mg.label_table(S, 'gold')

/Users/Praneeth/anaconda/lib/python2.7/site-packages/Magellan-0.1-py2.7.egg/magellan/gui/mtable_gui.py:29: FutureWarning: iget_value(i, j) is deprecated. Please use .iat[i, j]
  datatable.setItem(i, j, QtGui.QTableWidgetItem(str(tbl.iget_value(i, j))))
/Users/Praneeth/anaconda/lib/python2.7/site-packages/Magellan-0.1-py2.7.egg/magellan/gui/mtable_gui.py:58: FutureWarning: iget_value(i, j) is deprecated. Please use .iat[i, j]
  inp = tbl.iget_value(i, j)

In [12]:
# For the demo, use pre-labeled data
G = mg.read_csv('dblp_acm_demo_labels.csv', ltable=A, rtable=B)
len(G)

415

In [13]:
# Split G into development (I) and evaluation (J)
IJ = mg.train_test_split(G, train_proportion=0.7)
I = IJ['train']
J = IJ['test']

In [14]:
# check the number of tuples in I and J
(len(I), len(J))

(290, 125)

In [15]:
# Selecting the best learning-based matcher using I

# Plan 

# 1. Create a set of ML-matchers
# 2. Generate features --> feature_table
# 3. Extract feature vectors using I and feature_table
# 4. Select best learning-based matcher using CV
# 5. Debug the selected matcher (and repeat the above steps)

In [16]:
# Create a set of ML-matchers
dt = mg.DTMatcher(name='DecisionTree', random_state=0)
svm = mg.SVMMatcher()
rf = mg.RFMatcher(name='RF', random_state=0)
nb = mg.NBMatcher(name='NB')
lg = mg.LogRegMatcher(name='LogReg')
ln = mg.LinRegMatcher(name='LinReg')

In [17]:
# check names of the matchers
(dt.name, svm.name)

('DecisionTree', 'SVM_65497902146617138441')

In [18]:
# Generate features
feat_table = mg.get_features_for_matching(A, B)

WARNING:magellan.feature.autofeaturegen:Magellan types: id type (str_eq_1w) and id type (numeric) are different.If you want to set them to be same and generate features, update output from get_attr_types and use get_features command.

WARNING:magellan.feature.autofeaturegen:Magellan types: venue type (str_bt_1w_5w) and venue type (str_bt_5w_10w) are different.If you want to set them to be same and generate features, update output from get_attr_types and use get_features command.

In [19]:
feat_table

,feature_name,left_attribute,right_attribute,left_attr_tokenizer,right_attr_tokenizer,simfunction,function,function_source
0,title_title_jac_qgm_3_qgm_3,title,title,qgm_3,qgm_3,jaccard,<function title_title_jac_qgm_3_qgm_3 at 0x120...,from magellan.feature.simfunctions import *\nf...
1,title_title_cos_dlm_dc0_dlm_dc0,title,title,dlm_dc0,dlm_dc0,cosine,<function title_title_cos_dlm_dc0_dlm_dc0 at 0...,from magellan.feature.simfunctions import *\nf...
2,title_title_mel,title,title,None,None,monge_elkan,<function title_title_mel at 0x120901410>,from magellan.feature.simfunctions import *\nf...
3,title_title_lev,title,title,None,None,lev,<function title_title_lev at 0x120901398>,from magellan.feature.simfunctions import *\nf...
4,authors_authors_jac_qgm_3_qgm_3,authors,authors,qgm_3,qgm_3,jaccard,<function authors_authors_jac_qgm_3_qgm_3 at 0...,from magellan.feature.simfunctions import *\nf...
5,authors_authors_cos_dlm_dc0_dlm_dc0,authors,authors,dlm_dc0,dlm_dc0,cosine,<function authors_authors_cos_dlm_dc0_dlm_dc0 ...,from magellan.feature.simfunctions import *\nf...
6,authors_authors_mel,authors,authors,None,None,monge_elkan,<function authors_authors_mel at 0x120901578>,from magellan.feature.simfunctions import *\nf...
7,authors_authors_lev,authors,authors,None,None,lev,<function authors_authors_lev at 0x1209015f0>,from magellan.feature.simfunctions import *\nf...
8,year_year_exm,year,year,None,None,exact_match,<function year_year_exm at 0x120901668>,from magellan.feature.simfunctions import *\nf...
9,year_year_anm,year,year,None,None,abs_norm,<function year_year_anm at 0x1209016e0>,from magellan.feature.simfunctions import *\nf...
10,year_year_lev,year,year,None,None,lev,<function year_year_lev at 0x120901758>,from magellan.feature.simfunctions import *\nf...

In [20]:
mg._match_s

{'abs_norm': <function magellan.feature.simfunctions.abs_norm>,
 'cosine': <function magellan.feature.simfunctions.cosine>,
 'exact_match': <function magellan.feature.simfunctions.exact_match>,
 'jaccard': <function magellan.feature.simfunctions.jaccard>,
 'jaro': <function magellan.feature.simfunctions.jaro>,
 'jaro_winkler': <function magellan.feature.simfunctions.jaro_winkler>,
 'lev': <function magellan.feature.simfunctions.lev>,
 'monge_elkan': <function magellan.feature.simfunctions.monge_elkan>,
 'needleman_wunsch': <function magellan.feature.simfunctions.needleman_wunsch>,
 'rel_diff': <function magellan.feature.simfunctions.rel_diff>,
 'smith_waterman': <function magellan.feature.simfunctions.smith_waterman>,
 'smith_waterman_gotoh': <function magellan.feature.simfunctions.smith_waterman_gotoh>,
 'soundex': <function magellan.feature.simfunctions.soundex>}

In [21]:
mg._match_t

{'dlm_dc0': <function magellan.feature.tokenizers.tok_delim>,
 'qgm_2': <function magellan.feature.tokenizers.tok_qgram>,
 'qgm_3': <function magellan.feature.tokenizers.tok_qgram>}

In [22]:
mg._match_c['corres']

[('id', 'id'),
 ('title', 'title'),
 ('authors', 'authors'),
 ('venue', 'venue'),
 ('year', 'year')]

In [23]:
# NOTE:
# For the demo purposes, use only 'venue', 'year' related features to get the best learning-based matcher 
# and use 'title', 'author' related features to write triggers.

In [24]:
# Select 'year' related features
feat_subset_iter1 = feat_table[8:11]

In [25]:
# Get feature vectors
K = mg.extract_feature_vecs(I, feature_table=feat_subset_iter1, attrs_after='gold')

In [26]:
K.head()

,_id,ltable.id,rtable.id,year_year_exm,year_year_anm,year_year_lev,gold
0,0,conf/vldb/FuhDCMTLDRM99,671520,1,1,0.666667,1
1,1,journals/sigmod/SmithO99,304204,1,1,0.666667,0
2,2,conf/sigmod/FegarasSRM00,335494,1,1,0.666667,1
3,3,conf/vldb/SeidlK97,673655,1,1,0.666667,1
4,4,conf/sigmod/RundensteinerKZWLLN99,304574,1,1,0.666667,1

In [27]:
# impute K
K.fillna(0, inplace=True)

In [28]:
K.head()

,_id,ltable.id,rtable.id,year_year_exm,year_year_anm,year_year_lev,gold
0,0,conf/vldb/FuhDCMTLDRM99,671520,1,1,0.666667,1
1,1,journals/sigmod/SmithO99,304204,1,1,0.666667,0
2,2,conf/sigmod/FegarasSRM00,335494,1,1,0.666667,1
3,3,conf/vldb/SeidlK97,673655,1,1,0.666667,1
4,4,conf/sigmod/RundensteinerKZWLLN99,304574,1,1,0.666667,1

In [29]:
# select the best ML matcher using CV
result = mg.select_matcher([dt, rf, svm, nb, lg, ln], table=K, 
        exclude_attrs=['_id', 'ltable.id', 'rtable.id', 'gold'],
        target_attr='gold', metric='precision', random_state=0)

In [100]:
result['selected_matcher']

In [101]:
result['cv_stats']

,Name,Matcher,Num folds,Fold 1,Fold 2,Fold 3,Fold 4,Fold 5,Mean score
0,DecisionTree,<magellan.matcher.dtmatcher.DTMatcher object a...,5,0.795918,0.805556,0.694444,0.720000,0.692308,0.741645
1,RF,<magellan.matcher.rfmatcher.RFMatcher object a...,5,0.795918,0.805556,0.694444,0.720000,0.692308,0.741645
2,SVM_27608952182015486441,<magellan.matcher.svmmatcher.SVMMatcher object...,5,0.795918,0.805556,0.694444,0.720000,0.692308,0.741645
3,NB,<magellan.matcher.nbmatcher.NBMatcher object a...,5,0.666667,0.805556,0.694444,0.720000,0.692308,0.715795
4,LogReg,<magellan.matcher.logregmatcher.LogRegMatcher ...,5,0.804348,0.794118,0.694444,0.714286,0.684211,0.738281
5,LinReg,<magellan.matcher.linregmatcher.LinRegMatcher ...,5,0.795918,0.805556,0.694444,0.720000,0.692308,0.741645

In [102]:
# Debug decision tree

# Split feature vectors to train and test
UV = mg.train_test_split(K, train_proportion=0.5, random_state=0)
U = UV['train']
V = UV['test']

In [103]:
mg.vis_debug_dt(dt, U, V, 
        exclude_attrs=['_id', 'ltable.id', 'rtable.id', 'gold'],
        target_attr='gold')

In [104]:
# Add a feature for 'venue'
# 1. create a feature
# 2. Add the feature to feature table.

In [105]:
# Create a feature
feature = mg.get_feature_fn("lev(ltuple['venue'], rtuple['venue'])", mg._match_t, mg._match_s)

In [106]:
# Add feature to feature table
mg.add_feature(feat_table, 'venue_venue_lev', feature)

True

In [107]:
feat_table

,feature_name,left_attribute,right_attribute,left_attr_tokenizer,right_attr_tokenizer,simfunction,function,function_source
0,title_title_jac_qgm_3_qgm_3,title,title,qgm_3,qgm_3,jaccard,<function title_title_jac_qgm_3_qgm_3 at 0x11e...,from magellan.feature.simfunctions import *\nf...
1,title_title_cos_dlm_dc0_dlm_dc0,title,title,dlm_dc0,dlm_dc0,cosine,<function title_title_cos_dlm_dc0_dlm_dc0 at 0...,from magellan.feature.simfunctions import *\nf...
2,title_title_mel,title,title,None,None,monge_elkan,<function title_title_mel at 0x11f4760c8>,from magellan.feature.simfunctions import *\nf...
3,title_title_lev,title,title,None,None,lev,<function title_title_lev at 0x11f476140>,from magellan.feature.simfunctions import *\nf...
4,authors_authors_jac_qgm_3_qgm_3,authors,authors,qgm_3,qgm_3,jaccard,<function authors_authors_jac_qgm_3_qgm_3 at 0...,from magellan.feature.simfunctions import *\nf...
5,authors_authors_cos_dlm_dc0_dlm_dc0,authors,authors,dlm_dc0,dlm_dc0,cosine,<function authors_authors_cos_dlm_dc0_dlm_dc0 ...,from magellan.feature.simfunctions import *\nf...
6,authors_authors_mel,authors,authors,None,None,monge_elkan,<function authors_authors_mel at 0x11f476320>,from magellan.feature.simfunctions import *\nf...
7,authors_authors_lev,authors,authors,None,None,lev,<function authors_authors_lev at 0x11f476398>,from magellan.feature.simfunctions import *\nf...
8,year_year_exm,year,year,None,None,exact_match,<function year_year_exm at 0x11f476410>,from magellan.feature.simfunctions import *\nf...
9,year_year_anm,year,year,None,None,abs_norm,<function year_year_anm at 0x11f476488>,from magellan.feature.simfunctions import *\nf...
10,year_year_lev,year,year,None,None,lev,<function year_year_lev at 0x11f476500>,from magellan.feature.simfunctions import *\nf...
11,venue_venue_lev,venue,venue,PARSE_EXP,PARSE_EXP,lev,<function fn at 0x11f4765f0>,"def fn(ltuple, rtuple):\n return lev(ltuple..."

In [108]:
# Select 'year'  + 'venue' related features
feat_subset_iter2 = feat_table[8:12]

In [109]:
feat_subset_iter2

,feature_name,left_attribute,right_attribute,left_attr_tokenizer,right_attr_tokenizer,simfunction,function,function_source
8,year_year_exm,year,year,None,None,exact_match,<function year_year_exm at 0x11f476410>,from magellan.feature.simfunctions import *\nf...
9,year_year_anm,year,year,None,None,abs_norm,<function year_year_anm at 0x11f476488>,from magellan.feature.simfunctions import *\nf...
10,year_year_lev,year,year,None,None,lev,<function year_year_lev at 0x11f476500>,from magellan.feature.simfunctions import *\nf...
11,venue_venue_lev,venue,venue,PARSE_EXP,PARSE_EXP,lev,<function fn at 0x11f4765f0>,"def fn(ltuple, rtuple):\n return lev(ltuple..."

In [110]:
# Get new set of features
K = mg.extract_feature_vecs(I, feature_table=feat_subset_iter2, attrs_after='gold')
# impute K
K.fillna(0, inplace=True)

In [111]:
# Split feature vectors into U and V
UV = mg.train_test_split(K, train_proportion=0.5, random_state=0)
U = UV['train']
V = UV['test']

In [112]:
# Check whether the added features improves the accuracy in the test set.
# Steps
# 1. Train DT using U
# 2. Predict V using DT
# 3. Evaluate predictions

In [113]:
# Train dt using U
dt.fit(table=U, 
       exclude_attrs=['_id', 'ltable.id', 'rtable.id', 'gold'], 
       target_attr='gold')

In [114]:
# Predict V using dt
P = dt.predict(table=V, exclude_attrs=['_id', 'ltable.id', 'rtable.id', 'gold'], 
              append=True, target_attr='predicted', inplace=False)

In [115]:
# Evaluate the predictions
eval_result = mg.eval_matches(P, 'gold', 'predicted')
mg.print_eval_summary(eval_result)

Precision : 89.53% (77/86)
Recall : 96.25% (77/80)
F1 : 92.77%
False positives : 9 (out of 86 positive predictions)
False negatives : 3 (out of 59 negative predictions)

In [116]:
# Apply cross validation to find if there is a better matcher
result = mg.select_matcher([dt, rf, svm, nb, lg, ln], table=K, 
        exclude_attrs=['_id', 'ltable.id', 'rtable.id', 'gold'],
        target_attr='gold', metric='f1')

In [117]:
result['cv_stats']

,Name,Matcher,Num folds,Fold 1,Fold 2,Fold 3,Fold 4,Fold 5,Mean score
0,DecisionTree,<magellan.matcher.dtmatcher.DTMatcher object a...,5,0.944444,0.909091,0.823529,0.918919,0.970588,0.913314
1,RF,<magellan.matcher.rfmatcher.RFMatcher object a...,5,0.903226,0.942857,0.945946,0.866667,0.939394,0.919618
2,SVM_27608952182015486441,<magellan.matcher.svmmatcher.SVMMatcher object...,5,0.783784,0.853333,0.885714,0.868421,0.823529,0.842956
3,NB,<magellan.matcher.nbmatcher.NBMatcher object a...,5,0.787879,0.876712,0.811594,0.894737,0.391304,0.752445
4,LogReg,<magellan.matcher.logregmatcher.LogRegMatcher ...,5,0.839506,0.916667,0.783784,0.800000,0.849315,0.837854
5,LinReg,<magellan.matcher.linregmatcher.LinRegMatcher ...,5,0.883117,0.876712,0.840580,0.918919,0.739726,0.851811

In [ ]:
# Select DT as the best matcher -- Y
# Use year + venue related features

In [ ]:
# Add triggers on top of Y

# 1. Split K into U and V
# 2. Use U,V  + Y to write triggers (examine fp, fn).

In [ ]:
# Split feature vectors to U and V
UV = mg.train_test_split(K, train_proportion=0.5, random_state=0)
U = UV['train']
V = UV['test']

In [ ]:
# Invoke debug interface to check FP and FN
mg.vis_debug_dt(dt, U, V, 
        exclude_attrs=['_id', 'ltable.id', 'rtable.id', 'gold'],
        target_attr='gold')

In [ ]:
# Add trigger - target false positives: use title related feature
neg_trigger = mg.MatchTrigger()
neg_trigger.add_cond_rule('title_title_jac_qgm_3_qgm_3(ltuple, rtuple) < 0.4', feat_table)
neg_trigger.add_cond_status(True)
neg_trigger.add_action(0)

In [ ]:
# Check whether the added trigger improves the accuracy in the test set.
# Steps
# 1. Train DT using U
# 2. Predict V using DT
# 3. Apply trigger
# 4. Evaluate the result

In [ ]:
# Train dt using U
dt.fit(table=U, 
       exclude_attrs=['_id', 'ltable.id', 'rtable.id', 'gold'], 
       target_attr='gold')

In [ ]:
# Predict V using dt
P = dt.predict(table=V, exclude_attrs=['_id', 'ltable.id', 'rtable.id', 'gold'], 
              append=True, target_attr='predicted', inplace=False)

In [ ]:
# Apply trigger
Q = neg_trigger.execute(P, 'predicted', inplace=False)

In [ ]:
# Evaluate the result
eval_result = mg.eval_matches(Q, 'predicted', 'gold')
mg.print_eval_summary(eval_result)

In [ ]:
# Do cross-validation for matcher + trigger using I (K)
result = mg.cv_matcher_and_trigger(dt, neg_trigger, table = K, 
                                   exclude_attrs=['_id', 'ltable.id', 'rtable.id', 'gold'],
                                  target_attr='gold')

In [ ]:
result['cv_stats']

In [ ]:
# Recall the cv for just the matcher (without trigger) was
result = mg.cv_matcher_and_trigger(dt, [], table = K, 
                                   exclude_attrs=['_id', 'ltable.id', 'rtable.id', 'gold'],
                                  target_attr='gold')

In [ ]:
result['cv_stats']

In [ ]:
# Now Z is DT (features: feat_subset_iter2) + neg_trigger
# Validate Z using J
# Steps
# 1. Extract feature vectors (using feat_subset_iter2) -- > M
# 2. Train DT using H (feature vectors generated using I)
# 3. Predict M using DT
# 4. Apply negative trigger
# 5. Evaluate the result

In [ ]:
# Extract feature vectors
M = mg.extract_feature_vecs(J, feature_table=feat_subset_iter2, attrs_after='gold')

In [ ]:
# Impute missing values
M.fillna(0, inplace=True)

In [ ]:
# Train using feature vectors from I 
dt.fit(table=K, 
       exclude_attrs=['_id', 'ltable.id', 'rtable.id', 'gold'], 
       target_attr='gold')

In [ ]:
# Predict M 
N = dt.predict(table=M, exclude_attrs=['_id', 'ltable.id', 'rtable.id', 'gold'], 
              append=True, target_attr='predicted', inplace=False)

In [ ]:
# Apply trigger
T = neg_trigger.execute(N, 'predicted', inplace=False)

In [ ]:
# Evaluate the result
eval_result = mg.eval_matches(T, 'gold', 'predicted')
mg.print_eval_summary(eval_result)

In [ ]:
T.to_csv('final_matches.csv')